# Nextflow outputs
work/
results/

# Sequencing data
data/raw/**
data/reference/**
data/sra/**
data/**

# SRA downloads
SRR*/

# Logs
logs/
*.log

# Archives/backups
archive/

# Tests
tests/

# Nextflow
.nextflow/
.nextflow*

# Large biological files
*.sra
*.fastq
*.fastq.gz
*.bam
*.bai

# Git
.git/
