# References
data/reference/raw/*
data/reference/processed/*
data/reference/star_index/*

# Raw sequencing data
data/raw/*

# Analysis outputs
results/*
work/*

# Nextflow
.nextflow/
.nextflow*

# Logs
*.log

