nextflow.enable.dsl = 2

params {

    sample_manifest = "data/metadata/sample_manifest.csv"

    reads = "data/raw/*_{1,2}.fastq.gz"

    star_index = "data/reference/star_index"

    gtf = "data/reference/raw/gencode.v49.annotation.gtf"

    metadata = "data/metadata/deseq2_metadata.csv"

    treatment = "Gluconate"

    control = "PBS"

    outdir = "results"

}

profiles {


    local {

        includeConfig 'conf/base.config'

    }


    aws {

        includeConfig 'conf/aws.config'

    }


    docker {

        includeConfig 'conf/docker.config'

    }

}
