process {

    executor = 'slurm'

    queue = 'compute'

    cpus = 8
    memory = '32 GB'
    time = '24h'

    withName: STAR_INDEX {
        cpus = 16
        memory = '64 GB'
        time = '12h'
    }

    withName: STAR_ALIGN {
        cpus = 8
        memory = '32 GB'
        time = '12h'
    }

    withName: FEATURECOUNTS {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }

    withName: DESEQ2 {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }

    withName: MULTIQC {
        cpus = 2
        memory = '8 GB'
        time = '2h'
    }

}
